<div id="biograph">
    <p>
        {{ site.author.firstname}} ({{ site.author.nickname }}) {{ site.author.lastname }} is currently a PhD candidate within the <a href="http://vision.eecs.qmul.ac.uk">Computer Vision Group</a> in the School of Electronic Engineering and Computer Science at <a href="http://www.qmul.ac.uk">Queen Mary University of London</a>, supervised by <a href="http://www.eecs.qmul.ac.uk/~sgg/">Prof. Shaogang (Sean) Gong</a>.
    </p>
    <p>
        Before joining the Computer Vision Group in QMUL, he has been worked in <a href="http://isee.sysu.edu.cn/">Intelligence Science & System Lab (ISEE)</a> during his master's program and has been co-supervised by <a href="http://isee.sysu.edu.cn/~zhwshi/">Prof. Wei-Shi Zheng</a> and <a href="http://isee.sysu.edu.cn/~xiexh/">Research Prof. Xiao-Hua Xie</a>. He received both his master's and bachelor's degree in Software Engineering from <a href="http://www.sysu.edu.cn/2012/en/index.htm">Sun Yat-sen University</a>. His research is in <I>Computer Vision and Machine Learning</I>, with a focus on deep learning with limited human supervision, including unsupervised representation learning, clustering, etc.
    </p>
</div>