<div id="biograph">
    <p>
        {{ site.author.firstname}} ({{ site.author.nickname }}) {{ site.author.lastname }} is currently a PhD candidate within the <a href="http://vision.eecs.qmul.ac.uk">Computer Vision Group</a> in the School of Electronic Engineering and Computer Science at <a href="http://www.qmul.ac.uk">Queen Mary University of London</a>, supervised by <a href="http://www.eecs.qmul.ac.uk/~sgg/">Prof. Shaogang (Sean) Gong</a>.
    </p>
    <p>
        Before that, 
        he worked closely with <a href="http://isee.sysu.edu.cn/~zhwshi/">Prof. Wei-Shi Zheng</a> and <a href="http://isee.sysu.edu.cn/~xiexh/">Research Prof. Xiao-Hua Xie</a>
        within the <a href="http://isee.sysu.edu.cn/">Intelligence Science & System Lab (ISEE)</a>. 
        He was awarded B.Eng and M.Eng by <a href="http://www.sysu.edu.cn/2012/en/index.htm">Sun Yat-sen University</a> in 2016 and 2018, respectively.
    </p>
    <p>
        His current research is in <I>Computer Vision and Machine Learning</I>, with a focus on deep learning with insufficient human supervision, e.g unsupervised/transfer learning.
    </p>
</div>