<div id="contact">
  <img src="assets/home/thumb.jpg" class="thumb"/>
  <p>
    <big><strong>{{ site.author.firstname }} {{ site.author.lastname }}</strong></big>
  </p>
  <p>
    {% for affliation in site.author.affliations %}
      {% if affliation.link %}
        <a href="{{ affliation.link }}">{{ affliation.name }}</a><br/>
      {% else %}
        {{ affliation.name }}<br/>
      {% endif %}
      {% if affliation.address %}
        {% for line in affliation.address %}
          {{ line.line }}<br/>
        {% endfor %}
      {% endif %}
    {% endfor %}
    <!-- Tel: {{ site.author.phone }}<br/> -->
    <!-- E-mail: <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a> -->
    E-mail: {{ site.author.email }}<br/>
    {% for link in site.author.links %}
      {% if forloop.index != 1 %}/{% endif %}
      <a href="{{ link.link }}">
        {{ link.name }}
      </a>
    {% endfor %}
  </p>
</div>