<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link type="text/css" rel="stylesheet" href="assets/home/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="assets/home/style.css">
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
    {% include contact.html %}
    {% include biography.html %}
    <hr />
    <p><big><big><strong>News</strong></big></big></p>
    {% include news.html %}
    <hr />
    <p><big><big><strong>Publications</strong></big></big></p>
    {% include publications.html %}
    <hr />
    <p><big><big><strong>Experiences</strong></big></big></p>
    {% include experiences.html %}
    <p role="update_time"><small>Last updated in {{ site.time | date: "%B %Y" }}</small></p>
</body>
</html>
